{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login Me</h1>
    <form action="logout" method="post" id="form_input">
        {% csrf_token %}
        <button class="btn_cutt rounded-6 shortenit_b" role="button" type="submit">Logout</button>
        </div>
    </form>
</body>
</html>