{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<div class="container">
   <div class="box">
    <h1>Secure Me</h1>
    <div class="forminput">
        <h2>Sign UP</h2>
    <form action="signup" method="post" id="form_input">
        {% csrf_token %}
        <div class="input-group">
           Username: <input type="text" class="inputbox"
                placeholder="Name" name="Name" autocomplete="off" required /><br>

           Email:   <input type="email" class="inputbox"
                placeholder="Email" name="Email" autocomplete="off" required /><br>
           Passsword: <input type="text" class="inputbox"
                placeholder="Password" name="Password" autocomplete="off" required /><br>

            <button class="btn_cutt rounded-6 shortenit_b" role="button" type="submit" >Signup</button>
        </div>
    </form>
</div>
</div>
</div>
        
</body>
</html>
